@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: $text-color;
}

a {
  color: #2f81f7;
  text-decoration: none;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
